/* .video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

/* .item addedd to help add importance to specific sytling rule. */
.video-item.item img {
  max-width: 150px;
} */
